<div class="container">
 <div class="row mt-3">
   <div class="col-xs_2-lg-10 ">
     <h1 class="animal-listing-title text-success text-center m-4">YOUR ANIMALS</h1>
     <div class="cards-listing-animals col lg-8">
        <% @animals.each do |animal| %>
          <%= link_to animal_path(animal) do %>
            <div class="card-category-animals mb-3">
               <%= image_tag cl_image_path(animal.photo, height: 600, width: 700, crop: :fill), alt: "alttext" %>
               <div class="card-infos-animals">
                 <div>
                   <h2><%= animal.name %></h2>
                   <p><%= animal.species %></p>
                </div>
                 <h2 class="card-animals-pricing"><%= animal.price_per_day %> € / day.</h2>
               </div>
             </div>
          <% end %>
        <% end %>
     </div>
   </div>
 </div>
</div>
