<div class="container container-own-animal pt-5">
  <div class="row la-div-animal">
    <div class="col lg-12">
      <h1 class="animal-listing-title text-center m-4">YOUR ANIMALS</h1>
      <div class="cards-listing-animals col lg-12">
        <% @animals.each do |animal| %>
          <%= link_to animal_path(animal), class: "text-decoration-none" do  %>
            <div class="wrapper">
              <div class="cards">
                <div class="card">
                  <div class="card-content">
                    <div class="top"></div>
                      <div class="bottom"></div>
                      <%= image_tag cl_image_path(animal.owner.avatar), class: "avatar-bordered single-card", alt: "avatar-bordered" %>
                    </div>
                    <div class="card-bg">
                      <%= image_tag cl_image_path(animal.photo, height: 600, width: 700, crop: :fill), alt: "alttext" %>
                    </div>
                    <div class="shadow">
                      <%= image_tag cl_image_path(animal.photo, height: 600, width: 700, crop: :fill), alt: "alttext" %>
                    </div>
                    <div id="text-animal">
                      <div class="card-animal">
                        <div>
                          <h5><%= animal.name %></h5>
                          <p class="species"><%= animal.species %></p>
                        </div>
                        <h3 class="price"><strong><%= animal.price_per_day %> € / day</strong></h3>
                        <div class="form-row search-card-home"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

