
<div class="cont">
  <div class="form sign-in">
    <h1>ADD YOUR ANIMAL</h1>
    <%= simple_form_for [:owner, @animal] do |f| %>
        <%= f.input :species,
                    input_html: { class: "form-control"} %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :price_per_day %>
        <%= f.input :photo %>
      <div class="form-actions text-center">
        <div id="container">
          <button class="learn-more">
            <div class="circle">
              <span class="icon arrow"></span>
            </div>
            <p class="button-text">Add my animal</p>
          </button>
        </div>
    <% end %>
      </div>
    <div class="sub-cont">
      <div class="img"></div>
    </div>
  </div>
</div>

