<div class="container pt-5">
  <div class="cont contaf">
    <div class="form formf sign-in">
      <h1>ADD YOUR ANIMAL</h1>
        <%= simple_form_for [:owner, @animal] do |f| %>
          <%= f.input :species,
                      input_html: { class: "form-control"} %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :address %>
          <%= f.input :price_per_day %>
          <%= f.input :photo %>
          <div class="form-actions text-center">
            <div id="container">
              <button class="learn-more">
                <div class="circle">
                  <span class="icon arrow"></span>
                </div>
              <p class="button-text">Add</p>
              </button>
            </div>
          </div>
        <% end %>
      </div>
      <div class="sub-cont sub-contf">
        <div class="img imgf"></div>
      </div>
    </div>
  </div>
</div>
