<div class="container bg-white rounded p-3">
  <h1 class="text-center text-success mt-4">Add your animal</h1>

  <%= simple_form_for [:owner, @animal] do |f| %>
    <div class="form-inputs">
    <%= f.input :species %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price_per_day %>
    <%= f.input :photo %>
    </div>
    <div class="form-actions text-center">
      <div id="container">
          <button class="learn-more">
            <div class="circle">
              <span class="icon arrow"></span>
            </div>
            <p class="button-text">Log in</p>
          </button>
        </div>
    <% end %>
  </div>
</div>
