<div id="container">
  <div id="parallax"></div>
</div>
<div id="home-content">
  <div id="text">
    <div class="card-category-search">
      <h1>Find your favorite animal with <strong>Xtinct</strong></h1>
      <p>People might have something unexped</p>

      <%= form_tag animals_path, method: :get do %>
        <div class="form-row search-card-home">
          <div class="form-group search-input col-md-8">
            <%= text_field_tag :query,  params[:query], class: "form-control", placeholder: "American Lion, Nantes" %>
          </div>
          <div class="form-group search-input col-md-4">
            <%= submit_tag "Search", class: "btn btn-primary btn-home" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container container-animal">
    <div class="row mt-3 la-div-animal">
      <div class="col lg-12">
        <h1 class="animal-listing-title text-center m-4">OUR LAST ADDED ANIMALS</h1>
        <div class="cards-listing-animals col lg-12">
          <% @animals.each do |animal| %>
            <%= link_to animal_path(animal), class: "text-decoration-none" do  %>
              <div class="wrapper">
                <div class="cards">
                  <div class="card">
                    <div class="card-content">
                      <div class="top"></div>
                        <div class="bottom"></div>
                        <%= image_tag cl_image_path(animal.owner.avatar), class: "avatar-bordered single-card", alt: "avatar-bordered" %>
                      </div>
                      <div class="card-bg">
                        <%= image_tag cl_image_path(animal.photo, height: 600, width: 700, crop: :fill), alt: "alttext" %>
                      </div>
                      <div class="shadow">
                        <%= image_tag cl_image_path(animal.photo, height: 600, width: 700, crop: :fill), alt: "alttext" %>
                      </div>
                      <div id="text-animal">
                        <div class="card-animal">
                          <div>
                            <h5><%= animal.name %></h5>
                            <p class="species"><%= animal.species %></p>
                          </div>
                          <h3 class="price"><strong><%= animal.price_per_day %> € / day</strong></h3>
                          <div class="form-row search-card-home"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


