<div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/user/fridooh);">
  <div class="container background-color white">
    <h1>Xtinct,<strong> rest your favorite animal</strong>!</h1>
    <p>Change your life and rent an animal of your choice around the world.</p>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form_tag animals_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find an animal"
            %>
            <!-- <%= submit_tag "Search", class: "btn btn-primary" %> -->
          <% end %>
        </div>
      </div>
      <div class="form-row">
        <div class="text-white form-group col-md-3">
          <label for="inputdate">From</label>
          <input type="date" class="form-control" id="inputdate" placeholder="From">
        </div>
        <div class="text-white form-group col-md-3">
          <label for="inputPassword4">To</label>
          <input type="date" class="form-control" id="inputdate" placeholder="To">
        </div>
      </div>
      <button type="submit" class="btn btn-primary b-rounded">Rent an animal</button>
    </form>
  </div>
</div>

<div class="card-container-home">
  <!-- <div class="d-flex justify-content-between"> -->
    <% @animals.each do |animal| %>
      <div class="card-trip">
        <%= cl_image_tag animal.photo, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= animal.name %></h2>
            <h3><%= animal.species %></h3>
          </div>
          <h2 class="card-trip-pricing"><%= animal.price_per_day %>€</h2>
          <%= cl_image_tag animal.owner.avatar, height: 100, width: 200, crop: :fill %>
        </div>
      </div>
    <% end %>
  <!-- </div> -->
</div>





