<div class="container">
  <div class="row mt-3">
    <div class="col-xs_2-lg-10">
      <h1 class="animal-listing-title text-center">BE AMAZED BY OUR EXCTINCT ANIMALS </h1>
      <div class="cards-listing-animals col lg-6">
        <% @animals.each do |animal| %>
        <%= link_to animals_path(animal) do  %>
          <div class="card-category-animals card-animal mb-3">
            <%= image_tag cl_image_path(animal.photo, height: 600, width: 700, crop: :fill), alt: "alttext" %>
            <div class="card-infos-animals">
              <div>
                <h2><%= animal.name %></h2>
                <p><%= animal.species %></p>
              </div>
              <h2 class="card-animals-pricing"><%= animal.price_per_day %> € / day</h2>
              <%= image_tag cl_image_path(animal.owner.avatar), class: "avatar-bordered", alt: "avatar-bordered" %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
