<div class="container-animal">

  <div class="images-card">
    <div class="image">
      <%= image_tag cl_image_path (@animal.photo), height: 420, width: 300,crop: :fill %>
    </div>
    <div class="avatar">
      <%= image_tag cl_image_path(@animal.owner.avatar), class: "avatar-bordered", alt: "avatar-bordered" %>
    </div>
  </div>

  <div class="animal-info">
    <div class="primary-info">
      <div class="header">
        <div>
          <h1><strong><%= @animal.name %></strong></h1>
          <h2><%= @animal.species %></h2>
        </div>
        <p class="price"><strong><%= @animal.price_per_day %> € / day</strong></p>
      </div>
      <p class="animal-description"><%= @animal.description %></p>
    </div>


    <div class="rent-form">
      <%= render 'rents/new' %>
      <p><%= @total %></p>
    </div>
  </div>

  <div class="animal-map">
    <div
      id="map"
      style="width: 100%;
      height: 65vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

