<div class="container">
  <nav>
    <div class="logo">
      <p class="rootnav"> <%= link_to 'Xctinct', root_path, color:"white"%></p>
    </div>
    <ul>
      <li><%= link_to 'Dashboard', rents_path %></li>
      <li> <%= link_to 'Animals', animals_path %></li>
      <li><%= link_to 'Add your animal', new_owner_animal_path %></li>
      <li><%= link_to 'Your animals', owner_animals_path %></li>
      <li class="nav-item dropdown">
      <li class="nav-item"><%= link_to 'Your animals', owner_animals_path, class:'whitenav'%></li>
      <li>
        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-bars"></i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <p class="text-center black-drop"><%= link_to 'Profile', edit_user_registration_path %></p>
            <p class="text-center black-drop"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></p>
          <% else %>
            <p class="text-center black-drop"><%= link_to 'Log in', new_user_session_path %></p>
          <% end %>
        </div>
      </li>
    </ul>
  </nav>
</div>
